<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Tweet Bot</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='content/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}">
        <script src={{ url_for('static', filename='scripts/common.js')}}></script> 
        
    </head>
    <body>
    
        <div class = "buttonClass">
            <button id = "buttonSettings" class = "buttonSettings">Settings</button>            
        </div>
        
        <h1 class = "headerTitle">What's happen on Twitter with one picture</h1>

        <h2 class = "headerName">Top Tweet Bot</h2>

        <img class = "headerLogo" src = "{{ url_for('static', filename='content/favicon.ico') }}">
        <img class = "headerPicture" src ="{{today_post}}">        

        <div id = "settingsPopup" class = "settingsPopup">
            <div class = "settingsContent">
                <p class = "settingsTitle">Settings</p>
                <p class = "settingsCategory">Color Theme</p>
                <button class = "darkButton" onclick = "setDarkMode()">Dark Mode</button>
                <button class = "blueButton" onclick = "setBlueMode()">Blue Mode</button>
                <button class = "whiteButton" onclick = "setWhiteMode()">White Mode</button>
            </div>
        </div>
        <script src={{ url_for('static', filename='scripts/settings.js')}}></script>


    </body>
</html>