<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Tweet Bot</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='content/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/index.css') }}">
    </head>
    <body>
        <h1 class = "headerTitle">What's happen on Twitter with one picture</h1>
        <h2 class = "headerName">Top Tweet Bot</h2>
        <img class = "headerPicture" src ="{{today_post}}">
    </body>
</html>